.container{
    padding: 20px;
}
.container-wrapper{
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid #ddd;
    overflow: hidden;
}
.container > .title{
    font-size: 30px;
    padding: 4px;
}
.demo-block{
    float: left;
    width: 23.22%;
    border: 1px solid #ddd;
    height: 260px;
    margin-right: 20px;
    margin-bottom: 10px;
}
.demo-block:nth-child(4n){
    margin-right: 0;
}
.demo-block > .title{
    text-align: center;
    padding: 4px;
    font-size: 24px;
    margin-bottom: 10px;
}
.demo-block p{
    padding: 10px;
}
.demo-block .large{
    font-size: 24px;
}
.demo-block .medium{
    font-size: 20px;
}
.demo-block .small{
    font-size: 16px;
}

.demo-block.inherit .medium{
    position: relative;
    text-align: center;
}

.demo-block.transparent-border{
    background-color: #0dbbf0;
    color: #fff;
}